.container__form {
  height: 100vh;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
input,
textarea {
  width: 80%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--color-primary-variant);
  resize: none;
  color: var(--color-white);
  text-align: center;
  margin-left: 10%;
  margin-bottom: 3%;
}
.container__form>input:nth-child(1) {
  margin-top: 5%;
}
.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
  margin-left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}
.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}
/* calendar */
.container__calendar {
  height: 100vh;
  margin-top: 2rem;
}
.rbc-day-bg.rbc-off-range-bg {
  background: rgba(255, 255, 255, 0.1);
}
.rbc-day-bg.rbc-today {
  background: rgba(77, 181, 255, 0.1);
}
.rbc-toolbar>span:nth-child(3)>button {
  color: #ffffff;
}
.rbc-toolbar>span:nth-child(3)>button:hover {
  color: black;
}
.rbc-toolbar>span:nth-child(3)>button.rbc-active {
  background-color: #fff;
  color: black;
}
.rbc-toolbar {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 2rem;
}
.rbc-btn-group {
  width: 100%;
  text-align: center;
  margin: auto;
}
.rbc-toolbar .rbc-btn-group>button {
  color: #ffffff;
}
.container__form__hours {
  text-align: center;
  margin-top: 7em;
  margin-left: 50%;
  transform: translateX(-50%);
  height: 8em;
  width: 8em;
  border: 2px solid var(--color-primary-variant);
  border-radius: 50%;
  background: transparent;
  position: relative;
  z-index: -1;
}
.container__counter {
  color: var(--color-light);
  position: relative;
  z-index: 1;
  margin-top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
}
.react-datepicker,
.react-datepicker__triangle,
.react-datepicker__month-container {
  width: 100vw;
}